*.mdp
*.psd
Unbidden Sprites/desktop.ini
bin/
.git/
.vs/
.obj/
obj/Debug/net45/UnbiddenMod.assets.cache
obj/Debug/net45/UnbiddenMod.assets.cache
obj/UnbiddenMod.csproj.nuget.g.props
obj/UnbiddenMod.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net45/UnbiddenMod.csprojAssemblyReference.cache
obj/Debug/net45/UnbiddenMod.assets.cache
obj/Debug/net45/.NETFramework,Version=v4.5.AssemblyAttributes.cs
obj/Debug/net45/UnbiddenMod.AssemblyInfo.cs
obj/Debug/net45/UnbiddenMod.AssemblyInfoInputs.cache
obj/UnbiddenMod.csproj.nuget.g.targets
